

.content {
    padding: 100px;
}

.header1 {
    font-family:  'handwriting', sans-serif; 
    font-size: larger;
    text-align: center;
    padding: 100px;
}

.header2 {
    font-family:  'handwriting', sans-serif; 
    font-size: larger;
    text-align: center;
    padding: 50px;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.5;
    background: rgba(74, 144, 226, 0.2);
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.promptOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4a90e2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
}

.promptOverlay button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
